
.vs/AC_Internal/v16/.suo
*.db
*.ipch
.vs/FirstInternalHack/v15/.suo
.vs/FirstInternalHack/v16/.suo
*.CT
*.sln
AC_Internal/.vs/AC_Internal/v16/.suo
*.db-shm
*.db-wal
*.filters
*.user
*.vcxproj
*.recipe
*.ilk
*.log
*.pch
*.pdb
*.lastbuildstate
*.tlog
*.txt
*.obj
*.idb
*.dll
*.iobj
*.ipdb
